.foot-panel a {
    color: #002456;
    text-decoration: none;
}

.foot-panel {
    color: #002456;
    background-color: #f5f9fc;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 10px dotted;
    border-left: 8px dotted;
    border-right: 8px dotted;
    border-color: #ffafcc;
}

ul {
    margin: 20px;
    list-style: none;
    padding: 0;
}

.foot {
    font-weight: bold;
}

ul p {
    display: block;
    margin-top: 20px;
}

ul p:hover {
    text-decoration: underline;
    text-decoration-color: #fb6f92;
}


@media (max-width: 768px) {
    .foot-panel {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
    }

    ul {
        margin: 10px;
    }

    ul p {
        margin-top: 10px;
    }
}
