{% extends "base.html" %}
{% block start %}
    <style>
        body {
            background-image: url('https://cdn.pixabay.com/photo/2017/08/07/03/22/books-2599241_1280.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-container {
            /* background-color: rgba(255, 255, 255, 0.8); */
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
            <div class="alert alert-info">
                Your password has been set. You may go ahead and <a href="/login/">Login Here</a>
            </div>
        </div>
    </div>
{% endblock %}